/* || General setup */

/*Test results: 

Contrast Ratio: 2.79:1

WCAG AA: Fail
WCAG AAA: Fail

 */



/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || layout */

.nav, article, footer, .secondary {
  background-color: #ffffff;
}

article, footer, .secondary {
  padding: 10px 30px;
}

.nav {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}

.nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

.nav li {
  text-align: center;
  flex: 1;
}

.nav a {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 2em;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* || table */

table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* || media */

img, audio {
  display: block;
  margin: 0 auto;
}

audio {
  width: 500px;
}

/* || comments */

.comments {
  background-color: #def;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
  font-size: 1.6rem;
}

.nav button,
.nav input,
.nav input::placeholder {
  color: black;
}
