body {
    font: 1.2em / 1.5 sans-serif;
  }
  
  /* FLEXBOX 1 */
  
  .flex1 ul {
    max-width: 750px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .flex1 a:link,
  .flex1 a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
  }
  
  
  /* FLEXBOX 2 */
  
  .flex2 {
    max-width: 750px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .flex2 li {
    flex: 1;
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
  }
  
  
  /* FLEXBOX 3 */
  
  .flex3 {
    width: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex3 li {
    flex: auto;
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
  }